In [2]:
import pandas as pd
import os

In [3]:
path = os.getcwd()

df2004 = pd.read_excel(path+'/Aportes_Diario_2004.xlsx')

In [4]:
df2004.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Historico Aportes Diario 2004,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Fecha,Region Hidrologica,Nombre Río,Aportes Caudal m3/s,Aportes Energía kWh,Aportes %
3,NaN,2004-01-01,ANTIOQUIA,A. SAN LORENZO,17.56,3910000,0.722736
4,NaN,2004-01-01,ANTIOQUIA,CONCEPCION,6.15,1385300,1.236875

In [5]:
df2004.columns = df2004.iloc[2]

In [6]:
df2004.columns[0]

nan

In [7]:
df2004.set_index('Fecha')
df2004.head()

2,NaN,Fecha,Region Hidrologica,Nombre Río,Aportes Caudal m3/s,Aportes Energía kWh,Aportes %
0,NaN,Historico Aportes Diario 2004,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Fecha,Region Hidrologica,Nombre Río,Aportes Caudal m3/s,Aportes Energía kWh,Aportes %
3,NaN,2004-01-01,ANTIOQUIA,A. SAN LORENZO,17.56,3910000,0.722736
4,NaN,2004-01-01,ANTIOQUIA,CONCEPCION,6.15,1385300,1.236875

In [8]:
df2004.drop([df2004.columns[0]], axis=1, inplace=True)
df2004.reset_index()
df2004.head()

2,Fecha,Region Hidrologica,Nombre Río,Aportes Caudal m3/s,Aportes Energía kWh,Aportes %
0,Historico Aportes Diario 2004,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Fecha,Region Hidrologica,Nombre Río,Aportes Caudal m3/s,Aportes Energía kWh,Aportes %
3,2004-01-01,ANTIOQUIA,A. SAN LORENZO,17.56,3910000,0.722736
4,2004-01-01,ANTIOQUIA,CONCEPCION,6.15,1385300,1.236875

In [9]:
df2004.columns

Index(['Fecha', 'Region Hidrologica', 'Nombre Río', 'Aportes Caudal m3/s',
       'Aportes Energía kWh', 'Aportes %'],
      dtype='object', name=2)

In [10]:
df2004.drop([0, 1, 2],axis=0, inplace=True)
df2004.head()

2,Fecha,Region Hidrologica,Nombre Río,Aportes Caudal m3/s,Aportes Energía kWh,Aportes %
3,2004-01-01,ANTIOQUIA,A. SAN LORENZO,17.56,3910000,0.722736
4,2004-01-01,ANTIOQUIA,CONCEPCION,6.15,1385300,1.236875
5,2004-01-01,ANTIOQUIA,"DESV. EEPPM (NEC,PAJ,DOL)",11.43,2574700,1.471257
6,2004-01-01,ANTIOQUIA,GRANDE,18.65,4563500,0.792274
7,2004-01-01,ANTIOQUIA,GUADALUPE,11.28,2540900,0.801546

In [11]:

df2004 = df2004.astype({'Region Hidrologica':str,'Nombre Río':str,'Aportes Caudal m3/s': float, 'Aportes Energía kWh': float, 'Aportes %': float})
df2004['Fecha'] = pd.to_datetime(df2004['Fecha'])

In [12]:
df2004.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 3 to 8786
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fecha                8784 non-null   datetime64[ns]
 1   Region Hidrologica   8784 non-null   object
 2   Nombre Río           8784 non-null   object
 3   Aportes Caudal m3/s  8418 non-null   float64
 4   Aportes Energía kWh  8690 non-null   float64
 5   Aportes %            8690 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 411.9+ KB

In [13]:
df2004["Aportes Caudal m3/s"].mean()

66.09840722261819

In [14]:
df2004.head()

2,Fecha,Region Hidrologica,Nombre Río,Aportes Caudal m3/s,Aportes Energía kWh,Aportes %
3,2004-01-01,ANTIOQUIA,A. SAN LORENZO,17.56,3910000.0,0.722736
4,2004-01-01,ANTIOQUIA,CONCEPCION,6.15,1385300.0,1.236875
5,2004-01-01,ANTIOQUIA,"DESV. EEPPM (NEC,PAJ,DOL)",11.43,2574700.0,1.471257
6,2004-01-01,ANTIOQUIA,GRANDE,18.65,4563500.0,0.792274
7,2004-01-01,ANTIOQUIA,GUADALUPE,11.28,2540900.0,0.801546

In [15]:
df2004['Aportes Caudal m3/s'] = df2004['Aportes Caudal m3/s'].transform(lambda x: x.fillna(x.mean()))
df2004.info()
#df2004['mpg'] = grouped['mpg'].transform(lambda x: x.fillna(x.mean()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 3 to 8786
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fecha                8784 non-null   datetime64[ns]
 1   Region Hidrologica   8784 non-null   object
 2   Nombre Río           8784 non-null   object
 3   Aportes Caudal m3/s  8784 non-null   float64
 4   Aportes Energía kWh  8690 non-null   float64
 5   Aportes %            8690 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 411.9+ KB

In [16]:
df2004.values[0]

array([Timestamp('2004-01-01 00:00:00'), 'ANTIOQUIA', 'A. SAN LORENZO',
       17.56, 3910000.0, 0.722735674676525], dtype=object)

In [17]:
def limpiarDataset():
    # Initialize an empty list to store DataFrames instead of creating a DataFrame with columns
    dfs = []
    
    fileName = 'Aportes_Diario_20'
    for i in range(4, 22):
        # Create year string
        anyo = f'{i:02d}'  # This handles both single and double-digit years
        
        fullName = fileName + anyo + ".xlsx"
        print("Limpiando:", fullName)
        
        # Read Excel file
        df = pd.read_excel(path + '/' + fullName)
        
        # Clean columns
        df.columns = df.iloc[2]
        df = df.drop([df.columns[0]], axis=1)
        df = df.drop([0, 1, 2], axis=0)
        
        # Reset index and clean column names
        df = df.reset_index(drop=True)
        df = df.rename(columns={
            'Region Hidrologica': 'RegionHidrologica', 
            'Nombre Río': 'NombreRio',
            'Aportes Caudal m3/s': 'AportesCaudalm3s',
            'Aportes Energía kWh': 'AportesEnergiaKwh',
            'Aportes %': 'AportesPerc'
        })
        
        # Convert data types and handle missing values
        df['Fecha'] = pd.to_datetime(df['Fecha'])
        
        # Fill missing values with mean
        numeric_columns = ['AportesCaudalm3s', 'AportesEnergiaKwh', 'AportesPerc']
        for col in numeric_columns:
            df[col] = pd.to_numeric(df[col], errors='coerce')
            df[col] = df[col].fillna(df[col].mean())
        
        # Ensure correct column types
        df = df.astype({
            'RegionHidrologica': str,
            'NombreRio': str,
            'AportesCaudalm3s': float, 
            'AportesEnergiaKwh': float, 
            'AportesPerc': float
        })
        
        # Append to list of DataFrames
        dfs.append(df)
    
    # Concatenate all DataFrames at once
    dfFinal = pd.concat(dfs, ignore_index=True)
    
    # Save to CSV
    dfFinal.to_csv('dfFinalAportes_2004-2021.csv', encoding='utf-8', index=False)
    
    return dfFinal

limpiarDataset()

Limpiando: Aportes_Diario_2004.xlsx
Limpiando: Aportes_Diario_2005.xlsx
Limpiando: Aportes_Diario_2006.xlsx
Limpiando: Aportes_Diario_2007.xlsx
Limpiando: Aportes_Diario_2008.xlsx
Limpiando: Aportes_Diario_2009.xlsx
Limpiando: Aportes_Diario_2010.xlsx
Limpiando: Aportes_Diario_2011.xlsx
Limpiando: Aportes_Diario_2012.xlsx
Limpiando: Aportes_Diario_2013.xlsx
Limpiando: Aportes_Diario_2014.xlsx
Limpiando: Aportes_Diario_2015.xlsx
Limpiando: Aportes_Diario_2016.xlsx
Limpiando: Aportes_Diario_2017.xlsx
Limpiando: Aportes_Diario_2018.xlsx
Limpiando: Aportes_Diario_2019.xlsx
Limpiando: Aportes_Diario_2020.xlsx
Limpiando: Aportes_Diario_2021.xlsx

2,Fecha,RegionHidrologica,NombreRio,AportesCaudalm3s,AportesEnergiaKwh,AportesPerc
0,2004-01-01,ANTIOQUIA,A. SAN LORENZO,17.56,3910000.0,0.722736
1,2004-01-01,ANTIOQUIA,CONCEPCION,6.15,1385300.0,1.236875
2,2004-01-01,ANTIOQUIA,"DESV. EEPPM (NEC,PAJ,DOL)",11.43,2574700.0,1.471257
3,2004-01-01,ANTIOQUIA,GRANDE,18.65,4563500.0,0.792274
4,2004-01-01,ANTIOQUIA,GUADALUPE,11.28,2540900.0,0.801546
...,...,...,...,...,...,...
180549,2021-12-31,VALLE,ALTOANCHICAYA,70.08,7026600.0,1.346092
180550,2021-12-31,VALLE,CALIMA,16.66,724600.0,1.035143
180551,2021-12-31,VALLE,CAUCA SALVAJINA,257.67,5224900.0,1.220771
180552,2021-12-31,VALLE,DIGUA,48.29,699800.0,1.320377
180553,2021-12-31,VALLE,FLORIDA II,9.85,197000.0,1.094444

In [4]:
dfPrueba = pd.read_csv(path+"/dfFinal.csv",encoding='')
dfPrueba.shape

(210029, 6)

In [5]:
dfPrueba.head()

,Fecha,RegionHidrologica,NombreRio,AportesCaudalm3s,AportesEnergiaKwh,AportesPerc
0,2004-01-01,ANTIOQUIA,A. SAN LORENZO,17.56,3910000.0,0.722736
1,2004-01-01,ANTIOQUIA,CONCEPCION,6.15,1385300.0,1.236875
2,2004-01-01,ANTIOQUIA,"DESV. EEPPM (NEC,PAJ,DOL)",11.43,2574700.0,1.471257
3,2004-01-01,ANTIOQUIA,GRANDE,18.65,4563500.0,0.792274
4,2004-01-01,ANTIOQUIA,GUADALUPE,11.28,2540900.0,0.801546