In [1]:
import pandas as pd
import os

In [3]:
path = os.getcwd()
df = pd.read_excel(path + '/' + 'Reservas_Diario_2002.xlsx')
df.columns = df.iloc[2]
#df = df.drop([df.columns[0]], axis=1)
df = df.drop([0, 1, 2], axis=0)

# Reset index and clean column names
df = df.reset_index(drop=True)
df = df.rename(columns={
    'Region Hidrologica': 'RegionHidrologica', 
    'Nombre Embalse': 'NombreEmbalse',
    'Volumen Útil Diario Mm3': 'VolumenUtilDiarioMm3',
    'Volumen Útil Diario Energía kWh': 'VolumenUtilDiarioEnergiaKwh',
    'Volumen Útil Díario %': 'VolumenUtilDiarioPerc',
    'Volumen Mm3':'VolumenMm3',
    'Volumen Energía kWh':'VolumenEnergiaKwh',
    'Volumen %':'VolumenPerc'
    
})
print(df.shape)
df.head()

(6966, 9)

2,Fecha,RegionHidrologica,NombreEmbalse,VolumenUtilDiarioMm3,VolumenUtilDiarioEnergiaKwh,VolumenUtilDiarioPerc,VolumenMm3,VolumenEnergiaKwh,VolumenPerc
0,2002-01-01,ANTIOQUIA,MIRAFLORES,93.474,244041919.2,0.980634,99.194,258975700,0.98173
1,2002-01-01,ANTIOQUIA,PENOL,1095.772,4489158729.6,0.997235,1194.242,4892570600,0.997463
2,2002-01-01,ANTIOQUIA,PLAYAS,49.236,95783714.4,0.971316,66.846,130042200,0.978712
3,2002-01-01,ANTIOQUIA,PORCE II,108.601,63238362.3,0.975049,172.861,100657000,0.984178
4,2002-01-01,ANTIOQUIA,PUNCHINA,40.62,59540796,0.726915,46.62,68335600,0.753394

In [7]:
print(df["Fecha"].unique().shape)

(365,)

In [10]:
path = os.getcwd()
def limpiarDataset():
    # Initialize an empty list to store DataFrames instead of creating a DataFrame with columns
    dfs = []
    
    fileName = 'Reservas_Diario_20'
    for i in range(4, 22):
        # Create year string
        anyo = f'{i:02d}'  # This handles both single and double-digit years
        
        fullName = fileName + anyo + ".xlsx"
        print("Limpiando:", fullName)
        
        # Read Excel file
        df = pd.read_excel(path + '/' + fullName)
        
        # Clean columns
        df.columns = df.iloc[2]
        #df = df.drop([df.columns[0]], axis=1)
        df = df.drop([0, 1, 2], axis=0)
        
        # Reset index and clean column names
        df = df.reset_index(drop=True)
        df = df.rename(columns={
            'Region Hidrologica': 'RegionHidrologica', 
            'Nombre Embalse': 'NombreEmbalse',
            'Volumen Útil Diario Mm3': 'VolumenUtilDiarioMm3',
            'Volumen Útil Diario Energía kWh': 'VolumenUtilDiarioEnergiaKwh',
            'Volumen Útil Díario %': 'VolumenUtilDiarioPerc',
            'Volumen Mm3':'VolumenMm3',
            'Volumen Energía kWh':'VolumenEnergiaKwh',
            'Volumen %':'VolumenPerc'
            
        })
        
        # Convert data types and handle missing values
        df['Fecha'] = pd.to_datetime(df['Fecha'])
        
        # Fill missing values with mean
        numeric_columns = ['VolumenUtilDiarioMm3', 'VolumenUtilDiarioEnergiaKwh', 'VolumenUtilDiarioPerc','VolumenMm3','VolumenEnergiaKwh','VolumenPerc']
        for col in numeric_columns:
            df[col] = pd.to_numeric(df[col], errors='coerce')
            df[col] = df[col].fillna(df[col].mean())
        
        # Ensure correct column types
        df = df.astype({
            'RegionHidrologica': str,
            'NombreEmbalse': str,
            'VolumenUtilDiarioMm3': float, 
            'VolumenUtilDiarioEnergiaKwh': float, 
            'VolumenUtilDiarioPerc': float,
            'VolumenMm3': float,
            'VolumenEnergiaKwh': float,
            'VolumenPerc': float
        })
        
        # Append to list of DataFrames
        dfs.append(df)
    
    # Concatenate all DataFrames at once
    dfFinal = pd.concat(dfs, ignore_index=True)
    
    # Save to CSV
    dfFinal.to_csv('dfFinalReservas.csv', encoding='utf-8', index=False)
    
    return dfFinal

limpiarDataset()

Limpiando: Reservas_Diario_2004.xlsx
Limpiando: Reservas_Diario_2005.xlsx
Limpiando: Reservas_Diario_2006.xlsx
Limpiando: Reservas_Diario_2007.xlsx
Limpiando: Reservas_Diario_2008.xlsx
Limpiando: Reservas_Diario_2009.xlsx
Limpiando: Reservas_Diario_2010.xlsx
Limpiando: Reservas_Diario_2011.xlsx
Limpiando: Reservas_Diario_2012.xlsx
Limpiando: Reservas_Diario_2013.xlsx
Limpiando: Reservas_Diario_2014.xlsx
Limpiando: Reservas_Diario_2015.xlsx
Limpiando: Reservas_Diario_2016.xlsx
Limpiando: Reservas_Diario_2017.xlsx
Limpiando: Reservas_Diario_2018.xlsx
Limpiando: Reservas_Diario_2019.xlsx
Limpiando: Reservas_Diario_2020.xlsx
Limpiando: Reservas_Diario_2021.xlsx

2,Fecha,RegionHidrologica,NombreEmbalse,VolumenUtilDiarioMm3,VolumenUtilDiarioEnergiaKwh,VolumenUtilDiarioPerc,VolumenMm3,VolumenEnergiaKwh,VolumenPerc
0,2004-01-01,ANTIOQUIA,AMANI,242.710,1.228355e+08,0.570680,290.690,1.471182e+08,0.614203
1,2004-01-01,ANTIOQUIA,MIRAFLORES,93.828,2.446284e+08,0.984347,99.548,2.595415e+08,0.985233
2,2004-01-01,ANTIOQUIA,PENOL,995.587,4.033621e+09,0.995657,1065.867,4.318360e+09,0.995942
3,2004-01-01,ANTIOQUIA,PLAYAS,34.235,6.547444e+07,0.675380,51.845,9.915360e+07,0.759078
4,2004-01-01,ANTIOQUIA,PORCE II,59.193,3.437929e+07,0.615440,112.383,6.527200e+07,0.752379
...,...,...,...,...,...,...,...,...,...
140344,2021-12-31,ORIENTE,ESMERALDA,496.302,9.390530e+08,0.851407,517.012,9.782384e+08,0.856505
140345,2021-12-31,ORIENTE,GUAVIO,671.633,1.832954e+09,0.887429,687.333,1.875800e+09,0.889717
140346,2021-12-31,VALLE,ALTOANCHICAYA,14.770,1.714060e+07,0.464758,21.490,2.493910e+07,0.558181
140347,2021-12-31,VALLE,CALIMA1,375.970,1.892633e+08,0.885344,481.490,2.423821e+08,0.908163
140348,2021-12-31,VALLE,SALVAJINA,264.230,6.201480e+07,0.369687,357.870,8.399210e+07,0.442700